.rainbow-text span {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
    text-decoration-skip: spaces;
    text-decoration-skip-ink: spaces;
}
.rainbow-text span2 {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
    text-decoration-skip: spaces;
    text-decoration-skip-ink: spaces;
}

.animate {
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% { color: #FF0000; }
    14% { color: #FF7F00; }
    28% { color: #FFFF00; }
    42% { color: #00FF00; }
    57% { color: #0000FF; }
    71% { color: #4B0082; }
    85% { color: #9400D3; }
    100% { color: #FF0000; }
}